<ion-header>
  <ion-toolbar class="tool">
    <ion-buttons>
      <ion-button color="primary" (click)="back()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!-- <ion-title>category</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-label class="lbl-head">Bollywood</ion-label>

  <ion-label class="lbl-popular">Popular playlists</ion-label>

  <ion-row class="row-card">
      <ion-col class="col-card" routerLink="/song-list">
        <ion-card class="card-music">
          <img src="../../assets/img/music.jpg" class="img-music" />
          <ion-label class="lbl-title">New Music</ion-label>
          <ion-label class="lbl-cat">New Music</ion-label>
          <ion-label class="lbl-follow">40,120 FOLLOWERS</ion-label>
        </ion-card>
      </ion-col>
      <ion-col class="col-card">
        <ion-card class="card-music">
          <img src="../../assets/img/music.jpg" class="img-music" />
          <ion-label class="lbl-title">English</ion-label>
          <ion-label class="lbl-cat">New Music</ion-label>
          <ion-label class="lbl-follow">40,120 FOLLOWERS</ion-label>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row class="row-card">
      <ion-col class="col-card" routerLink="/category">
        <ion-card class="card-music">
          <img src="../../assets/img/no-music.jpg" class="img-music" />
          <ion-label class="lbl-title">New Music</ion-label>
          <ion-label class="lbl-cat">New Music</ion-label>
          <ion-label class="lbl-follow">40,120 FOLLOWERS</ion-label>
        </ion-card>
      </ion-col>
      <ion-col class="col-card">
        <ion-card class="card-music">
          <img src="../../assets/img/music.jpg" class="img-music" />
          <ion-label class="lbl-title">English</ion-label>
          <ion-label class="lbl-cat">New Music</ion-label>
          <ion-label class="lbl-follow">40,120 FOLLOWERS</ion-label>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row class="row-card">
      <ion-col class="col-card" routerLink="/category">
        <ion-card class="card-music">
          <img src="../../assets/img/music.jpg" class="img-music" />
          <ion-label class="lbl-title">New Music</ion-label>
          <ion-label class="lbl-cat">New Music</ion-label>
          <ion-label class="lbl-follow">40,120 FOLLOWERS</ion-label>
        </ion-card>
      </ion-col>
      <ion-col class="col-card">
        <ion-card class="card-music">
          <img src="../../assets/img/music.jpg" class="img-music" />
          <ion-label class="lbl-title">English</ion-label>
          <ion-label class="lbl-cat">New Music</ion-label>
          <ion-label class="lbl-follow">40,120 FOLLOWERS</ion-label>
        </ion-card>
      </ion-col>
    </ion-row>
    
    <ion-row class="row-card">
      <ion-col class="col-card" routerLink="/category">
        <ion-card class="card-music">
          <img src="../../assets/img/no-music.jpg" class="img-music" />
          <ion-label class="lbl-title">New Music</ion-label>
          <ion-label class="lbl-cat">New Music</ion-label>
          <ion-label class="lbl-follow">40,120 FOLLOWERS</ion-label>
        </ion-card>
      </ion-col>
      <ion-col class="col-card">
        <ion-card class="card-music">
          <img src="../../assets/img/music.jpg" class="img-music" />
          <ion-label class="lbl-title">English</ion-label>
          <ion-label class="lbl-cat">New Music</ion-label>
          <ion-label class="lbl-follow">40,120 FOLLOWERS</ion-label>
        </ion-card>
      </ion-col>
    </ion-row>

</ion-content>
