<ion-content>

  <ion-label class="lbl-head">Choose 3 or more artists you like</ion-label>

  <ion-searchbar placeholder="" class="search" routerLink="/find-artist"></ion-searchbar>

  <ion-row>
    <ion-col size="4" class="col-card">
      <ion-checkbox checked="true" class="check"></ion-checkbox>
      <img src="../../assets/img/singer.jpg" class="img-singer" />
      <ion-label class="lbl-name">Name</ion-label>
    </ion-col>
    <ion-col size="4" class="col-card">
      <ion-checkbox class="check"></ion-checkbox>
      <img src="../../assets/img/singer.jpg" class="img-singer" />
      <ion-label class="lbl-name">Name</ion-label>
    </ion-col>
    <ion-col size="4" class="col-card">
      <ion-checkbox checked="true" class="check"></ion-checkbox>
      <img src="../../assets/img/singer.jpg" class="img-singer" />
      <ion-label class="lbl-name">Name</ion-label>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="4" class="col-card">
      <ion-checkbox class="check"></ion-checkbox>
      <img src="../../assets/img/singer.jpg" class="img-singer" />
      <ion-label class="lbl-name">Name</ion-label>
    </ion-col>
    <ion-col size="4" class="col-card">
      <ion-checkbox class="check"></ion-checkbox>
      <img src="../../assets/img/singer.jpg" class="img-singer" />
      <ion-label class="lbl-name">Name</ion-label>
    </ion-col>
    <ion-col size="4" class="col-card">
      <ion-checkbox checked="true" class="check"></ion-checkbox>
      <img src="../../assets/img/singer.jpg" class="img-singer" />
      <ion-label class="lbl-name">Name</ion-label>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="4" class="col-card">
      <ion-checkbox checked="true" class="check"></ion-checkbox>
      <img src="../../assets/img/singer.jpg" class="img-singer" />
      <ion-label class="lbl-name">Name</ion-label>
    </ion-col>
    <ion-col size="4" class="col-card">
      <ion-checkbox class="check"></ion-checkbox>
      <img src="../../assets/img/singer.jpg" class="img-singer" />
      <ion-label class="lbl-name">Name</ion-label>
    </ion-col>
    <ion-col size="4" class="col-card">
      <ion-checkbox class="check"></ion-checkbox>
      <img src="../../assets/img/singer.jpg" class="img-singer" />
      <ion-label class="lbl-name">Name</ion-label>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="4" class="col-card">
      <ion-checkbox checked="true" class="check"></ion-checkbox>
      <img src="../../assets/img/singer.jpg" class="img-singer" />
      <ion-label class="lbl-name">Name</ion-label>
    </ion-col>
    <ion-col size="4" class="col-card">
      <ion-checkbox class="check"></ion-checkbox>
      <img src="../../assets/img/singer.jpg" class="img-singer" />
      <ion-label class="lbl-name">Name</ion-label>
    </ion-col>
    <ion-col size="4" class="col-card">
      <ion-checkbox checked="true" class="check"></ion-checkbox>
      <img src="../../assets/img/singer.jpg" class="img-singer" />
      <ion-label class="lbl-name">Name</ion-label>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="4" class="col-card">
      <ion-checkbox checked="true" class="check"></ion-checkbox>
      <img src="../../assets/img/singer.jpg" class="img-singer" />
      <ion-label class="lbl-name">Name</ion-label>
    </ion-col>
    <ion-col size="4" class="col-card">
      <ion-checkbox class="check"></ion-checkbox>
      <img src="../../assets/img/singer.jpg" class="img-singer" />
      <ion-label class="lbl-name">Name</ion-label>
    </ion-col>
    <ion-col size="4" class="col-card">
      <ion-checkbox checked="true" class="check"></ion-checkbox>
      <img src="../../assets/img/singer.jpg" class="img-singer" />
      <ion-label class="lbl-name">Name</ion-label>
    </ion-col>
  </ion-row>

  <div class="btns-bottom">
  
    <ion-button shape="round" class="btn-done" routerLink="/find-loading">DONE</ion-button>
  
  </div>

</ion-content>
