<ion-content>

  <ion-searchbar placeholder=""></ion-searchbar>

  <!-- <div class="div-search">
  <img src="../../assets/img/search.png" class="img-search"/>
  <ion-label class="lbl-find">Find your favorite artists</ion-label>
  </div> -->

  <!-- <div class="div-found">
    <img src="../../assets/img/not-found.png" class="img-found" />
    <ion-label class="lbl-found">Couldn't find "a"</ion-label>
    <ion-label class="lbl-try">Try searching again or using a different spelling or keyword.</ion-label>
  </div> -->

  <ion-item lines="none" class="items">
    <img src="../../assets/img/singer.jpg" class="img-singer" />
    <ion-label class="lbl-name">Singer Name</ion-label>
  </ion-item>
  <ion-item lines="none" class="items">
    <img src="../../assets/img/singer.jpg" class="img-singer" />
    <ion-label class="lbl-name">Singer Name</ion-label>
  </ion-item>
  <ion-item lines="none" class="items">
    <img src="../../assets/img/singer.jpg" class="img-singer" />
    <ion-label class="lbl-name">Singer Name</ion-label>
  </ion-item>
  <ion-item lines="none" class="items">
    <img src="../../assets/img/singer.jpg" class="img-singer" />
    <ion-label class="lbl-name">Singer Name</ion-label>
  </ion-item>

</ion-content>
