<ion-content>

  <ion-item lines="none" class="item">
    
    <img src="../../assets/img/logo.png" class="lbl-logo"/>
    <ion-label class="lbl-title">Music App</ion-label>

  </ion-item>

  <div class="mid-div">

  <ion-label class="imp-line">Millions of songs.</ion-label>
  <ion-label class="imp-line2">Free on Music app.</ion-label>

  </div>

  <div class="btns">

  <ion-button expand="full" shape="round" class="btn-signup" routerLink="/signup"> SIGN UP FREE</ion-button>
  <ion-button expand="full" shape="round" class="btn-signin" routerLink="/signin">LOG IN</ion-button>

  </div>

</ion-content>