<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-button color="primary" (click)="back()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="primary" class="head">Forgot Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <img src="../../assets/img/logo.png" class="lbl-logo"/>

  <ion-label class="heading">
    Enter your register email address. We'll send you an email to reset your password.
  </ion-label>
  
  <ion-item lines="none">
    <ion-label position="stacked" class="input-lbl">Email address</ion-label>
    <ion-input type="text" class="input-box"></ion-input>
  </ion-item>
  
  <ion-button expand="full" shape="round" class="btn-forgot">SUBMIT</ion-button>

</ion-content>
