<ion-content class="page-search">

  <ion-label class="lbl-head">Search</ion-label>

  <ion-item-divider sticky class="item-divider">
    <ion-searchbar placeholder="Arists, songs, or prodcasts" class="search"></ion-searchbar>
  </ion-item-divider>

  <ion-label class="lbl-divider">YOUR TOP GENRES</ion-label>

  <ion-row class="row-card">
    <ion-col class="col-card" routerLink="/category">
      <ion-card class="card-music">
        <img src="../../assets/img/music.jpg" class="img-music" />
        <ion-label class="lbl-title">Hindi</ion-label>
      </ion-card>
    </ion-col>
    <ion-col class="col-card">
      <ion-card class="card-music">
        <img src="../../assets/img/music.jpg" class="img-music" />
        <ion-label class="lbl-title">English</ion-label>
      </ion-card>
    </ion-col>
  </ion-row>
  
  <ion-row class="row-card">
    <ion-col class="col-card">
      <ion-card class="card-music">
        <img src="../../assets/img/music.jpg" class="img-music" />
        <ion-label class="lbl-title">Hindi</ion-label>
      </ion-card>
    </ion-col>
    <ion-col class="col-card">
      <ion-card class="card-music">
        <img src="../../assets/img/music.jpg" class="img-music" />
        <ion-label class="lbl-title">English</ion-label>
      </ion-card>
    </ion-col>
  </ion-row>
  
  <ion-row class="row-card">
    <ion-col class="col-card">
      <ion-card class="card-music">
        <img src="../../assets/img/music.jpg" class="img-music" />
        <ion-label class="lbl-title">Hindi</ion-label>
      </ion-card>
    </ion-col>
    <ion-col class="col-card">
      <ion-card class="card-music">
        <img src="../../assets/img/music.jpg" class="img-music" />
        <ion-label class="lbl-title">English</ion-label>
      </ion-card>
    </ion-col>
  </ion-row>
  
  <ion-row class="row-card">
    <ion-col class="col-card">
      <ion-card class="card-music">
        <img src="../../assets/img/music.jpg" class="img-music" />
        <ion-label class="lbl-title">Hindi</ion-label>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-label class="lbl-divider">BROWSE ALL</ion-label>

  <ion-row class="row-card">
    <ion-col class="col-card">
      <ion-card class="card-music">
        <img src="../../assets/img/music.jpg" class="img-music" />
        <ion-label class="lbl-title">Hindi</ion-label>
      </ion-card>
    </ion-col>
    <ion-col class="col-card">
      <ion-card class="card-music">
        <img src="../../assets/img/music.jpg" class="img-music" />
        <ion-label class="lbl-title">English</ion-label>
      </ion-card>
    </ion-col>
  </ion-row>
  
  <ion-row class="row-card">
    <ion-col class="col-card">
      <ion-card class="card-music">
        <img src="../../assets/img/music.jpg" class="img-music" />
        <ion-label class="lbl-title">Hindi</ion-label>
      </ion-card>
    </ion-col>
    <ion-col class="col-card">
      <ion-card class="card-music">
        <img src="../../assets/img/music.jpg" class="img-music" />
        <ion-label class="lbl-title">English</ion-label>
      </ion-card>
    </ion-col>
  </ion-row>
  
  <ion-row class="row-card">
    <ion-col class="col-card">
      <ion-card class="card-music">
        <img src="../../assets/img/music.jpg" class="img-music" />
        <ion-label class="lbl-title">Hindi</ion-label>
      </ion-card>
    </ion-col>
    <ion-col class="col-card">
      <ion-card class="card-music">
        <img src="../../assets/img/music.jpg" class="img-music" />
        <ion-label class="lbl-title">English</ion-label>
      </ion-card>
    </ion-col>
  </ion-row>
  
  <ion-row class="row-card">
    <ion-col class="col-card">
      <ion-card class="card-music">
        <img src="../../assets/img/music.jpg" class="img-music" />
        <ion-label class="lbl-title">Hindi</ion-label>
      </ion-card>
    </ion-col>
  </ion-row>

</ion-content>
