<ion-header>
  <ion-toolbar class="tool">
    <ion-buttons slot="start">
      <ion-button color="primary" (click)="back()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!-- <ion-title>category</ion-title> -->
    <ion-buttons slot="end">
      <ion-button color="primary">
        <ion-icon name="heart-empty" mode="md"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="primary">
        <ion-icon name="more" mode="md"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <img src="../../assets/img/music.jpg" class="img-music"/>
  <ion-label class="lbl-title">New Music</ion-label>

  <ion-label class="lbl-head">Bollywood</ion-label>

  <ion-label class="lbl-popular">BY MUSICAPP</ion-label>

  <ion-item-divider sticky class="btn-divider">
  <ion-button shape="round" class="btn">PLAY</ion-button>
  </ion-item-divider>

  <ion-item lines="none">
    <ion-label>
      <p class="lbl-music">Music Name</p>
      <p class="lbl-artist">Artist Name, Artist Name</p>
    </ion-label>
    <ion-button fill="clear" slot="end" class="btns">
      <ion-icon name="heart-empty" mode="md" class="icon-btn"></ion-icon>
    </ion-button>
    <ion-button fill="clear" slot="end" class="btns">
      <ion-icon name="remove-circle-outline" class="icon-btn"></ion-icon>
    </ion-button>
    <ion-button fill="clear" slot="end" class="btns">
      <ion-icon name="more" mode="md" class="icon-btn"></ion-icon>
    </ion-button>
  </ion-item>
  
  <ion-item lines="none">
    <ion-label>
      <p class="lbl-music">Music Name</p>
      <p class="lbl-artist">Artist Name, Artist Name</p>
    </ion-label>
    <ion-button fill="clear" slot="end" class="btns">
      <ion-icon name="heart-empty" mode="md" class="icon-btn"></ion-icon>
    </ion-button>
    <ion-button fill="clear" slot="end" class="btns">
      <ion-icon name="remove-circle-outline" class="icon-btn"></ion-icon>
    </ion-button>
    <ion-button fill="clear" slot="end" class="btns">
      <ion-icon name="more" mode="md" class="icon-btn"></ion-icon>
    </ion-button>
  </ion-item>
  
  <ion-item lines="none">
    <ion-label>
      <p class="lbl-music">Music Name</p>
      <p class="lbl-artist">Artist Name, Artist Name</p>
    </ion-label>
    <ion-button fill="clear" slot="end" class="btns">
      <ion-icon name="heart-empty" mode="md" class="icon-btn"></ion-icon>
    </ion-button>
    <ion-button fill="clear" slot="end" class="btns">
      <ion-icon name="remove-circle-outline" class="icon-btn"></ion-icon>
    </ion-button>
    <ion-button fill="clear" slot="end" class="btns">
      <ion-icon name="more" mode="md" class="icon-btn"></ion-icon>
    </ion-button>
  </ion-item>
  
  <ion-item lines="none">
    <ion-label>
      <p class="lbl-music">Music Name</p>
      <p class="lbl-artist">Artist Name, Artist Name</p>
    </ion-label>
    <ion-button fill="clear" slot="end" class="btns">
      <ion-icon name="heart-empty" mode="md" class="icon-btn"></ion-icon>
    </ion-button>
    <ion-button fill="clear" slot="end" class="btns">
      <ion-icon name="remove-circle-outline" class="icon-btn"></ion-icon>
    </ion-button>
    <ion-button fill="clear" slot="end" class="btns">
      <ion-icon name="more" mode="md" class="icon-btn"></ion-icon>
    </ion-button>
  </ion-item>
  
  <ion-item lines="none">
    <ion-label>
      <p class="lbl-music">Music Name</p>
      <p class="lbl-artist">Artist Name, Artist Name</p>
    </ion-label>
    <ion-button fill="clear" slot="end" class="btns">
      <ion-icon name="heart-empty" mode="md" class="icon-btn"></ion-icon>
    </ion-button>
    <ion-button fill="clear" slot="end" class="btns">
      <ion-icon name="remove-circle-outline" class="icon-btn"></ion-icon>
    </ion-button>
    <ion-button fill="clear" slot="end" class="btns">
      <ion-icon name="more" mode="md" class="icon-btn"></ion-icon>
    </ion-button>
  </ion-item>
  
  <ion-item lines="none">
    <ion-label>
      <p class="lbl-music">Music Name</p>
      <p class="lbl-artist">Artist Name, Artist Name</p>
    </ion-label>
    <ion-button fill="clear" slot="end" class="btns">
      <ion-icon name="heart-empty" mode="md" class="icon-btn"></ion-icon>
    </ion-button>
    <ion-button fill="clear" slot="end" class="btns">
      <ion-icon name="remove-circle-outline" class="icon-btn"></ion-icon>
    </ion-button>
    <ion-button fill="clear" slot="end" class="btns">
      <ion-icon name="more" mode="md" class="icon-btn"></ion-icon>
    </ion-button>
  </ion-item>

  <ion-label class="lbl-divider">You might also like</ion-label>

  <ion-row class="row-card">
    <ion-col class="col-card" routerLink="/song-list">
      <ion-card class="card-music">
        <img src="../../assets/img/music.jpg" class="img-music" />
        <ion-label class="lbl-title">New Music</ion-label>
        <ion-label class="lbl-cat">New Music</ion-label>
      </ion-card>
    </ion-col>
    <ion-col class="col-card">
      <ion-card class="card-music">
        <img src="../../assets/img/music.jpg" class="img-music" />
        <ion-label class="lbl-title">English</ion-label>
        <ion-label class="lbl-cat">New Music</ion-label>
      </ion-card>
    </ion-col>
  </ion-row>
  
  <ion-row class="row-card">
    <ion-col class="col-card" routerLink="/song-list">
      <ion-card class="card-music">
        <img src="../../assets/img/music.jpg" class="img-music" />
        <ion-label class="lbl-title">New Music</ion-label>
        <ion-label class="lbl-cat">New Music</ion-label>
      </ion-card>
    </ion-col>
    <ion-col class="col-card">
      <ion-card class="card-music">
        <img src="../../assets/img/music.jpg" class="img-music" />
        <ion-label class="lbl-title">English</ion-label>
        <ion-label class="lbl-cat">New Music</ion-label>
      </ion-card>
    </ion-col>
  </ion-row>
  
  <ion-row class="row-card">
    <ion-col class="col-card" routerLink="/song-list">
      <ion-card class="card-music">
        <img src="../../assets/img/music.jpg" class="img-music" />
        <ion-label class="lbl-title">New Music</ion-label>
        <ion-label class="lbl-cat">New Music</ion-label>
      </ion-card>
    </ion-col>
    <ion-col class="col-card">
      <ion-card class="card-music">
        <img src="../../assets/img/music.jpg" class="img-music" />
        <ion-label class="lbl-title">English</ion-label>
        <ion-label class="lbl-cat">New Music</ion-label>
      </ion-card>
    </ion-col>
  </ion-row>
  
  <ion-row class="row-card">
    <ion-col class="col-card" routerLink="/song-list">
      <ion-card class="card-music">
        <img src="../../assets/img/music.jpg" class="img-music" />
        <ion-label class="lbl-title">New Music</ion-label>
        <ion-label class="lbl-cat">New Music</ion-label>
      </ion-card>
    </ion-col>
    <ion-col class="col-card">
      <ion-card class="card-music">
        <img src="../../assets/img/music.jpg" class="img-music" />
        <ion-label class="lbl-title">English</ion-label>
        <ion-label class="lbl-cat">New Music</ion-label>
      </ion-card>
    </ion-col>
  </ion-row>

</ion-content>
